/* config general  */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 2;  
}

/* config general End */

/* operator list box box styles  */

.description-box {
    width: 88%;
    border-radius: 20px;
    border: solid 1px #66abf0;
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    height: 141px;  
}

.description-box-text {
    width: 137%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.button-box {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

.button-add {
    width: 40%;
    margin-left: 5%;
}



.box-list {
    width: 88%;
    height: 66%;
    margin-left: 10%;
    margin-top: 3%;
    border: solid 1px #66abf0;
    border-radius: 20px;  
 }

 .list_search_box{
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-bottom: 2%;
}


.search_box{
    margin-right: 45px;
    width: 37%;
    border: solid 1px #66ABF0;
    flex-direction: row-reverse;
}

.list-operator {
    width: 91%;
    margin-left: 4.5%;
 }

.list-header-color {
    background-color: #66abf0;
    color: #fff;
}

.icon-status {
    width: 13%;
   }
   .icon-eye {
       width: 27%;
   }
   .color-bluelight {
       background-color: #ccedff;
   }

/* operator list box box styles End */



/* operator detail box styles  */

.box-avatar {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.opd{
    display: flex;
    gap: 12px;
}

.box-boton {
    width: 30%;
    display: flex;
    align-items: center;   
}

.ico-print {
    width: 30%;
}

.ico-edit {
    width: 40px;
    margin-left: 11%;
}
 
.list_search_box_1{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text_serch_box{
    margin-top: 5px;
    margin-left: 45px;
}
 

 
 




/* operator list box styles End  */