/* config general  */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 2;  
}

/* config general End */

/* screen description box styles  */

.description-box {
    width: 88%;
    border-radius: 20px;
    border: solid 1px #66abf0;
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    height: 141px;
    
}

.description-box-text {
    width: 137%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.button-box {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

 .button-add-green {
    width: 40%;
}

/* screen description box styles End */

/* operator list box styles  */

 .box-list {
    width: 88%;
    height: 66%;
    margin-left: 10%;
    margin-top: 3%;
    border: solid 1px #66abf0;
    border-radius: 20px;  
 }

 .box-search {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
 }
 .box-avatar {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.box-boton {
    width: 30%;
    display: flex;
    align-items: center; 
    
}
 
 .box-input {
    width: 41%;
    height: 64px;
 }

 .input-hidden {
    width: 89%;
    height: 65%;
    border: solid 1px #fff;
    border-radius: 15px;
    margin-top: 7%;
 }

 .box-icon {
    width: 30%;
    height: 43px;
    border: solid 1px #66abf0;
    border-radius: 15px;
    margin-top: 2%;
    position: absolute;
    display: flex;
    justify-content: end;
 }
 .ico-print {
    width: 30%;
}

.ico-edit {
    width: 40px;
    margin-left: 11%;

}

 .icon-search {
    width: 30px;
    margin-right: 4%;
 }

 .list-operators {
    width: 91%;
    margin-left: 4.5%;
 }

.list-header-color {
    background-color: #66abf0;
    color: #fff;
}
.icon-status {
 width: 13%;
}
.icon-eye {
    width: 27%;
}
.color-bluelight {
    background-color: #ccedff;
}

/* operator list box styles End  */

/* inicio de conteo star*/
.create-button-sub{
    width: 22%;
    height: 41px;
    border-radius: 10px;
    background: #EEEEEE;
    color: grey;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    gap: 11px;
}
.send-button-sub{
    width: 20%;
    height: 41px;
    border-radius: 7px;
    border: solid 1px #66abf0;
    background-color: #0073e6;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 11%;
}
.description-box-textt {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: initial; 
    align-items: center;  

}
.button-c {
 margin-bottom: 0;
}