
/*---create, edit, Generate id box style---*/

.create-box {
    width: 30%;
    height: 700px;
    border-bottom-left-radius: 20px;
    background-color: white;
    position: absolute;
    z-index: 3; 
}

.header {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    background-color: #0073e6;
    border-top-left-radius: 20px;
}

.header-text {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.ht{
    margin-top: 3%;
    color: white; 
}

.ico-close {
    width: 19%;
    height: 9%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-ico-logo {
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.ico-logo{
    width: 30%;
}

.box-tittle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2%;
    text-align: center;
    
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 2%;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr;  
    
}

.box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-form {
    width: 79%;
    height: 41px;
    border-radius: 15px;
    border: solid 1px #66abf0;
    padding: 14px;
    margin-top: 6%;
}

.create-button{
    width: 79%;
    height: 41px;
    border-radius: 15px;
    border: solid 1px #66abf0;
    background-color: #0073e6;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 3px;
    margin-top: 12%;
}

/*---Generate id box style specific---*/

.box-identification{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-template{
    border: solid 1px #66ABF0; 
    background-color:#EEEEEE; 
    border-radius: 10px; width: 51%;
}

.header-template{
    background-color: #66ABF0; 
    border-top-left-radius: 10px;
     border-top-right-radius: 10px; 
     padding: 3px;
}

.text-header-template{
    color: aliceblue;
    text-align: center;
    margin-top: 3%;
}

.datos-template {
    margin-left: 9%; 
    margin-top: 4%;
}

.p-title-template{
    margin-bottom: 0;
    font-weight: 700;
}

.p-dato-template{
    margin-bottom: 0;
}

.box-Qr{
    display: flex;
    justify-content: center;
    margin-top: 9%;
    margin-bottom: 9%;
}

.ico-Qr{
    width: 40%;
}

/*--- Generate id box style  specific end ---*/

/*--- product details box ---*/

.form-detatils-product {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 5%; 
    margin-bottom: 5%;
}