
/*---create, edit, Generate id box style---*/

.create-box {
    width: 30%;
    height: 683px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    position: absolute;
    z-index: 3; 
  
}

.header {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    background-color: #0073e6;
    border-top-left-radius: 20px;
}

.header-text {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.ht{
    margin-top: 3%;
    color: white; 
}

.ico-close {
    width: 12%;
    height: 7%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-ico-logo {
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.ico-logo{
    width: 30%;
}

.box-tittle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    display: grid;          
}

.mb-edit{
    margin-bottom: 2.5rem ;
}

.box-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
}

.fw {
    font-weight: 500;
}

.input-form {
    width: 79%;
    height: 41px;
    border-radius: 10px;
    border: solid 1px #66abf0;
    padding: 14px;
    margin-top: 6%;
}

.box-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 88px;
    background-color: black;
    margin-top: 5%;
    border-bottom-left-radius: 15px;
}

.create-button{
    width: 79%;
    height: 41px;
    border-radius: 10px;
    border: solid 1px #66abf0;
    background-color: #0073e6;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 3px;
    
}





/*---Generate id box style specific---*/

.box-identification{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-template{
    border: solid 1px #66ABF0; 
    background-color:#EEEEEE; 
    border-radius: 10px; 
    width: 48%;
}
.box-template-app {
    border: solid 1px #66ABF0; 
    border-radius: 10px; width: 76%;
    margin-top: 7%;
}

.header-template{
    background-color: #66ABF0; 
    border-top-left-radius: 10px;
     border-top-right-radius: 10px; 
     padding: 3px;
}

.text-header-template{
    color: aliceblue;
    text-align: center;
    margin-top: 3%;
}

.datos-template {
    margin-left: 9%; 
    margin-top: 4%;
}

.p-title-template{
    margin-bottom: 0;
    font-weight: 700;
}

.p-dato-template{
    margin-bottom: 0;
}

.box-Qr{
    display: flex;
    justify-content: center;
    margin-top: 9%;
    margin-bottom: 9%;
}

.ico-Qr{
    width: 40%;
}
.ico-Qrapp{
    width: 93%;
}

/*--- Generate id box style  specific end ---*/

/*--- product details box ---*/

.form-detatils-product {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 5%; 
    margin-bottom: 5%;
}

/*--- product details box end ---*/


/*--- descargar de App template estilos especificos---*/

.mb{
    margin-bottom: 0;
}

.mt{
    margin-top: 30%;
}

/*--- descargar de App template estilos especificos end---*/

/*--- descargar de CSV template estilos especificos ---*/

.ico-logo-template {
    width: 20%;
}

.m-top_m-b_m-l{
    margin-top: 3%;
    margin-bottom: 2%; 
    margin-left: 14%;
}

.line_time{
    position: absolute;
    margin-top: 3%;
    width: 30px;
    margin-left: 3%;
}

.line_time_1{
    position: absolute;
    width: 29px; 
    margin-top: -52px; 
    margin-left: 3%;
}


.mt_article {
    margin-top: 18%;
    margin-bottom: 5%;
}

.mt_article_1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ml{
    margin-left: 14%;
}

.options_box{
    width: 89%;
    display: grid; 
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    margin-left: 50px; 
    margin-top: 5%;
}

.assign_name_box {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-top: 5%;

}

.border_assign_name_box{
    border: solid 1px #66abf0;
     border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
       padding:4px;
        width: 70%;
}

.icon_assign_name_box {
    background-color: #66ABF0;
    width: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.mini_ico{
    width: 7%;
    position: absolute; 
}



.mt_container_input{
    margin-top: 7%;
}

.box_botton{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    margin-top: 11%;
}
/*--- descargar de CSV template estilos especificos end---*/

/*--- ajuste de conteo template estilos especificos ---*/
.input-form-ajuste {
    width: 79%;
    height: 41px;
    border-radius: 10px;
    border: solid 1px #66abf0;
    padding: 14px;
    margin-top: 1%;
}

/*--- ajuste de conteo template estilos especificos end---*/

/*--- carga de csv template estilos especificos ---*/

.line_time_box{
    position: absolute;
    margin-left: 3%; 
    margin-top: 3%;
}

.img_line_time{
    width: 34px;
    margin-top: 10%;
    margin-left: 25%;

}

.ico_info_box{
    display: flex; 
    justify-content: end;
    margin-right: 14%;
    margin-bottom: 4%;
}

.ico_info{
    width: 27px;
    position: absolute;
    margin-top: 2%; 
    
}

.title_line_time{
    margin-left: 18%;
    margin-top: 4%;
    font-weight: 700;
    margin-bottom: 8%;

}

.text_line_time{
    margin-top: 5%;
    margin-left: 16%;
    margin-right: 14%;
    
}

.download_img{
    display: flex;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 50%;
    margin-left: 42%;
}

.mb_h5{
    margin-bottom: 5%;
}

.assign_name_box_1 {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-top: 5%;
    margin-bottom: 9%;
}


/*--- carga de csv template estilos especificos end ---*/

/*--- B05-Detallle de producto (cargado por el operador) template estilos especificos ---*/


.location_box{
    width: 93%; 
    height: 43%;
    overflow-y: scroll;
}

.ht-B05{
    color: white; 
}

.scrool_box{
    margin-left: 9%;
    margin-top: 4%;
    width: 88%;
    height: auto;
}

/*--- B05-Detallle de producto (cargado por el operador) template estilos especificos end---*/