*{
margin: 0;
padding: 0;
}
main{
    width: 1200px;
    min-width: 1200px;
    height: 683px;
    min-height: 683px;
}

/* login styles Star*/

.login__leff {
    position: absolute; 
    display: flex;
    width: 515px;
    min-width: 515px; 
    height: 683px; 
    min-height: 683px;  
}
.leff__image{
    position: absolute; 
    width: 515px;   
}
.login__right {
    display: flex; 
    align-items: end;
    justify-content: center; 
    float: right;
    width: 687px;
    min-width: 687px;
    height: 683px; 
    min-height: 683px;   
    background-image: url(../img/pieza-login.svg);
    background-repeat: no-repeat;
    background-position: bottom;   
}
.box {
    position: absolute;
    z-index: 3; 
    width: 478px;
    min-width: 478px;
    height: 478px;
    max-height: 478px;
    margin-bottom: 110px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow:1px 1px 1px 1px  #dee2e6;
    background-color: white;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
    margin: revert;
}
.box__header {
    display: flex;
    justify-content: center;
    height: 15%;
    background-color: #0073e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
}
.logo__login{
    display: flex;
    justify-content: center;
    height: 10%;
    margin-top: 4%;  
    margin-bottom: 4%;
}
.form__input{
    width: 66%;
    height: 41px;
    border-radius: 15px;
    border: solid 1px #66abf0;
    padding: 14px;
    margin-top: 5%;
}
.form__input--record {
    width: 90%;
    margin-top: 5%;
}
.grid__2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.button{
    width: 65%;
    height: 41px; 
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 15px;
    border: solid 1px #66abf0;
    background-color: #0073e6;
    color: white;
    padding: 3px;
    margin-top: 4%;
    margin-bottom: 3%;
}
.footBox{
    display: flex;
    justify-content: center;
    gap: 18%;
    margin-top: 2%; 
    margin-bottom: 4%;
}
.footbox__link {
    text-decoration: none;
}

/*login styles End*/

/*nav bar styles Star*/
header{
   position: relative; 
   z-index: 1;
}
.bar {
   width: 60px;
   min-width: 60px;
   height: 683px;
   min-height: 683px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   background-color: #0073e6;
   position: absolute;
   display: flex;
   z-index: 4; 
}
.bar__icons {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.bar__logos{
   margin-top: 22px;
   height: 68px;
}
.icons__nav{
   width: 27px;
}
.icons {
   height: 70px;
}
.icons__notifications {
   height: 192px;
   display: flex;
   align-items: end;
}
.icons__settings {
   height: 90px;
   display: flex;
}
.deploy {
   width: 250px;
   min-width: 250PX;
   height: 683px;
   min-height: 683px;
   display: flex;
   justify-content: end;
   position: absolute;
   z-index: 3;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   background:#333333;
   color: white;
}
.deploy__title {
   width: 75%;
   --bs-nav-link-color: none;
   margin-top: 21px;
}
.deploy__li {
   margin-top: 24px;
}
.blank__space {
   height: 27%;
}

  /*nav bar styles End*/







